body {
  font-family: sans-serif;
  font-size: 10px;
}

.page {
  border: 40px solid #adb0b2;
  width: 50%;
  margin: auto;
}

table td, th {
  text-align: left;
}

.resume {
  background-color: #1b80c4;
  color: white;
  margin-left: 2%;
  padding-left: 3%;
  margin-top: -0.5%;
  padding-top: 3%;
  padding-right: 2%;
  margin-right: 88%;
  padding-bottom: 0.1%;
}

progress {
  width: 120px;
  border-color: blue;
}

tfoot {
  background-color: #359ce0;
}

tfoot td {
  padding-bottom: 20px;
}

table th:nth-child(1) {
  font-size: 17px;
  padding-right: 50px;
  padding-left: 7px;
  line-height: 2px;
  font-weight: 400;
  padding-bottom: 46px;
}

table th:nth-child(2) {
  font-weight: 500;
  line-height: 2px;
}

table td:nth-child(1) {
padding-left: 10px;
font-weight: bold;
}

table td:nth-child(2) {
padding-left: 10px;
font-weight: 500;
padding-left: 25px;
}

table td:nth-child(3) {
padding-left: 10px;
font-weight: 500;
padding-left: 30px;
}


table td:nth-child(4) {
padding-left: 50px;
}

h1 {
  color: #3aa4ea;
  font-weight: 550;
  font-family: sans-serif;
}

.bodi {padding-top: 20px;}




.work {
position:absolute;
  background-color: #1b80c4;
  opacity: 0.8;
  color: white;
  font-weight: bold;
  display: block;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 3%;
  margin-right: 60%;
  padding-right: 2%;
  margin-left: 1%;
  transform: rotate(-55deg);
  -ms-transform: rotate(-57deg);
  /* Internet Explorer */
  -moz-transform: rotate(-57deg);
  /* Firefox */
  -webkit-transform: rotate(-57deg);
  /* Safari et Chrome */
  -o-transform: rotate(-57deg);
  /* Opera */
}

.play {

  background-color: #1b80c4;
  opacity: 0.8;
  color: white;
  font-weight: 600;
  display: block;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-right: 60%;
  padding-right: 2%;
  margin-left: 11%;
  transform: rotate(-57deg);
  -ms-transform: rotate(-57deg);
  /* Internet Explorer */
  -moz-transform: rotate(-57deg);
  /* Firefox */
  -webkit-transform: rotate(-57deg);
  /* Safari et Chrome */
  -o-transform: rotate(-57deg);
  /* Opera */
}
